html {
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    max-width: 1500px;
    position: relative;
    background-color: #fff;
    font-weight: 400;
    overflow-x: hidden;
}
@media (min-width: 1500px) {
    body {
        margin: 0px auto;
    }
}

.header-cover {
    height: 792px;
    width: 44vw;
    position: absolute;
    right: 0px;
}
.header-cover img {
    height: 100%;
    width: 100%;
}

#header {
    height: 792px;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

#nav {
    padding: 32px 72px;
}
#nav h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.08em;
}
#nav .nav-link a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #52575C;
    letter-spacing: 0.085em;
    z-index: 10;
}
#nav .nav-link a.active {
    position: relative;
    font-weight: 600;
    color: #25282B;
    overflow-x: hidden;
}
#nav .nav-link a.active .active-line {
    height: 1px;
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    background-color: #FF5B22;
}
#nav .nav-link a.button {
    background-color: #FF5B22;
    padding: 8px 32px;
    border-radius: 2px;
    letter-spacing: 0.002em;
    color: #fff;
}
#welcome {
    padding-left: 72px;
    padding-right: 48px;
}
#welcome .welcome-text h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 52px;
    color: #25282B;
    letter-spacing: 0.005em;
}
#welcome .welcome-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #52575C;
}
#welcome .welcome-image img {
    width: 100%;
    z-index: 10;
}
#welcome .welcome-search {
    width: 790px;
    background-color: #FBFBFB;
    border-radius: 5px;
    box-shadow: 0px 20px 30px rgba(2, 13, 39, 0.03);
    z-index: 20;
}
#welcome .welcome-search label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #25282B;
    letter-spacing: 0.005em;
}
#welcome .welcome-search select {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #52575C;
}
#welcome .welcome-search button {
    background-color: #FF5B22;
    padding: 16px 24px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}

#hero {
    width: 100%;
    padding: 72px 0px;
    overflow-x: hidden;
}
#hero .hero-text {
    width: 45%;
    background-color: #F0F3FF;
    padding: 32px 32px 32px 72px;
}
#hero .hero-text h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700px;
    font-size: 48px;
    color: #25282B;
}
#hero .hero-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #52575C;
}
#hero .hero-sponsors {
    width: 55%;
}
#hero .hero-sponsors img {
    width: 90%;
}

#explore {
    width: 100%;
    padding: 0px 72px;
    overflow-x: hidden;
}
#explore .explore-text {
    width: 45%;
}
#explore .explore-text h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    letter-spacing: 0.005em;
}
#explore .explore-text h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #25282B;
}
#explore .explore-text p {
    margin-right: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #52575C;
    letter-spacing: 0.005em;
}
#explore .box {
    height: 72px;
    width: 72px;
    background-color: rgba(255, 91, 34, 0.1);
    border-radius: 10px;
}
#explore .explore-image {
    width: 55%;
}
#explore .explore-image p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #52575C;
}
#explore .explore-image a {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.005em;
}
#explore .explore-image img {
    width: 100%;
}

#main-1 {
    width: 100%;
    padding: 72px 48px 174px;
    overflow-x: hidden;
}
#main-1 h3 {
    margin-left: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    color: #18191F;
}
#main-1 article {
    width: 31%;
}
#main-1 article img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}
#main-1 article .main-article-price {
    position: absolute;
    right: 0px;
    background-color: #2176FF;
    border-radius: 0px 0px 0px 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
#main-1 article .card-1 {
    width: 87.5%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background-color: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(2, 13, 39, 0.03);
    border-radius: 5px;
}
#main-1 article h2 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #25282B;
}
#main-1 article .location span {
    font-family: Poppins;
    font-size: 12px;
    color: #52575C;
}

#main-2 {
    width: 100%;
    padding: 0px 64px 72px;
    overflow-x: hidden;
}
#main-2 h3 {
    margin-left: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    color: #18191F;
}
#main-2 article {
    width: 31%;
}
#main-2 article .img-main {
    width: 100%;
    height: 527px;
    object-fit: cover;
    border-radius: 5px;
}
#main-2 article .main-article-user {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #25282B;
}
#main-2 article h2 a {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
    color: #25282B;
}
#main-2 article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #52575C;
    line-height: 30px;
}

#footer {
    width: 100%;
    padding: 72px;
    background-color: #F4F6FF;
    overflow-x: hidden;
}
#footer h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.08em;
}
#footer p {
    font-family: Poppins;
    font-size: 14px;
    line-height: 30px;
    color: #4F4F4F;
}
#footer h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #25282B;
}
#footer a.mb-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #52575C;
}
#footer form {
    border-radius: 8px;
}
#footer form input {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: 40px;
    width: 225px;
    color: rgba(82,87,92,1);
}
#footer form ::placeholder {
    color: rgba(82,87,92,0.2);
}